.h2-black {
    font-family: Roboto, "Open Sans", sans-serif;
    font-size: 54px;
    line-height: 64px;
    font-weight: 900;
    color: #1d1d1d;
}

h3 {
    font-family: Roboto, "Open Sans", sans-serif;
    font-size: 22px;
    line-height: 64px;
    font-weight: bold;
    color: #f7f7f7;
}

.title {
    color: rgb(105, 120, 255) ;
}

/* CONTATO */
#contato-form {
    color:white;
}
