/* GERAL */
.btn-braindev {
    border: 0px;
    padding: 15px 40px 15px 40px;
    background-color: rgb(105, 120, 255);
    color: #fff;
    border-radius: 3px;
}

/* LOGIN */
#div-master-login2 {
    max-width: 400px;
    color: white;
    height: -webkit-fill-available;
}

.parent {
    display: flex;
    justify-content: center;
    align-items: center;
}

#body-login2 {
    background-color: black;
}

