* {
    font-family: 'source sans pro' sans-serif;
}

/* FOOTER */
footer {
    color: #f7f7f7;
    border-top: 14px solid rgb(105, 120, 255);
}

.footer-braindev {
    margin-top: 40px;
    margin-bottom: 40px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 40px;
}
.footer-cop {
    padding: 14px;
    width: 100%;

}

#ul-footer {
    list-style: none;
    padding: 0;
}

#h5-footer {
    white-space: nowrap;
}

#row1 {
    background-color: #8a47dc;
    position: absolute;
}

#row2 {
    background-color: #6d32b2;
}

#a-footer {
    color: inherit;
}

#a-footer:visited {
     color: white;
}


/* Hide */

div.meu-perfil, .meus-pedidos, .meus-planos, .meus-servicos {
    transition: all 300ms;
}

div.hide {
    opacity: 0;
    visibility: hidden;
    height: 0;
    margin-top: -20px;
}

/* --------------------------------------------------------------------------------------- */
/* /LOGIN */
#body-login2 {
    background-color: black;
}

#div-master-login {
    border: 2px solid black;
    background-color: white;
    max-width: 500px;
    min-width: 360px;
    border-radius: 15px;
    width: 100%;
}

#div-titulo-login {
    white-space: nowrap;
}

#button {
    background-color:rgb(85, 104, 249);
    color: white;
}

#div-master-login {
    animation-name: fade;
    animation-duration: 500ms;
    overflow: hidden;
    /* font-family: Roboto, sans-serif; */
}

#div-form {
    animation-name: move;
    animation-duration: 500ms;
}

@keyframes fade {
    from {
        opacity: 0;
        transform: scale(0.9);
    } to {
        opacity: 1;
        transform: scale(1);
    }
}

@keyframes move {
    from {
        opacity: 0;
        transform: translateX(-35%);
    } to {
        opacity: 1;
        transform: translateX(0);
    }
}

/* --------------------------------------------------------------------------------------- */
/* CADASTRO */
#div-master-cadastro {
    border: 2px solid black;
    background-color: white;
    max-width: 500px;
    min-width: 360px;
    border-radius: 15px;
}

#div-titulo {
    white-space: nowrap;
}

#div-span {
    font-size: 13px;
}

#button {
    background-color:rgb(85, 104, 249);
    color: white;
}

#div-master-cadastro {
    animation-name: fade;
    animation-duration: 500ms;
    overflow: hidden;
    /* font-family: Roboto, sans-serif; */
}

#div-form {
    animation-name: move;
    animation-duration: 500ms;
}

@keyframes fade {
    from {
        opacity: 0;
        transform: scale(0.9);
    } to {
        opacity: 1;
        transform: scale(1);
    }
}

@keyframes move {
    from {
        opacity: 0;
        transform: translateX(-35%);
    } to {
        opacity: 1;
        transform: translateX(0);
    }
}

/* /CADASTRO */
/* --------------------------------------------------------------------------------------- */
/* CONTATO */

/* --------------------------------------------------------------------------------------- */
* {
    font-family: sans-serif;
}

body {
    background-color: rgb(23, 23, 26);
    height: 100%;
}


p, li, ul, a {
    font-size: 16px;
    margin-bottom: 0;
    /* color: rgb(63, 63, 65); */
}

/* Height vh */

.braindev-vh-100 {
    height: 100vh;
}

.auth-login {
    color: #f7f7f7;
    list-style: none;
}
ul li .nav-link {
    color: #f7f7f7;
}
.auth-login li{
    border: 2px solid;
    border-radius: 8px;
}


.banner {
    background-color: #461B79;
    color: #fff;
    padding-top: 120px;
    padding-bottom: 60px;
}


.info-checkout {
    background-color: #fff;
    padding: 30px;
    border-radius: 15px;
    margin-top: -90px;
}

.promo-code {
    background-color: #fff;
    padding: 30px;
    border-radius: 15px;
    margin-top: -90px;
    margin-left: 15px;

}

.product {
    background-color: #471b7a!important;
}

.text {
    color: #fff!important;
}

h1 {
    font-weight: 600;
}

.card {
    border: 2px;
    border-color: rgb(105, 120, 255);
    border-radius: 14px;
    background-color: rgb(31, 31, 36);
}

.card :hover {
    border: 0px;
    border-radius: 14px;
    transition: transform .4s;
    background-color: rgb(23, 23, 26);
    border: 2px;
    border-color: rgb(105, 120, 255);

    /* -ms-transform: scale(1.04); IE 9 */
    /* -webkit-transform: scale(1.04); Safari 3-8 */
    /* transform: scale(1.04); */
}

.card-dashboard {
    padding: 17px;
    border-radius: 8px;
    background-color: rgb(31, 31, 36);
    margin-bottom: 9px;
    display: grid;
    grid-template-columns: 2fr 1fr;
}

.servicos :hover{
    border: 0px;
    border-radius: 14px;
    transition: transform .4s;

    -ms-transform: scale(1.04); /* IE 9 */
    -webkit-transform: scale(1.04); /* Safari 3-8 */
    transform: scale(1.04);
}


/* --------------------------------- Text Head - p ---------------------------------  */
.h2-white {
    font-family: Roboto, "Open Sans", sans-serif;
    font-size: 54px;
    line-height: 64px;
    font-weight: bold;
    color: #f7f7f7;
}

.h2-black {
    font-family: Roboto, "Open Sans", sans-serif;
    font-size: 54px;
    line-height: 64px;
    font-weight: 900;
    color: #1d1d1d;
}


.h2-black-carrousel {
    font-family: Roboto, "Open Sans", sans-serif;
    font-size: 64px;
    line-height: 64px;
    font-weight: 900;
    color: #1d1d1d;
}

h3 {
    font-family: Roboto, "Open Sans", sans-serif;
    font-size: 22px;
    line-height: 64px;
    font-weight: bold;
    color: #f7f7f7;
}

.title {
    color: rgb(105, 120, 255) ;
}
.nav-light {
    color: #f5f5f5;
    position: relative;
    text-decoration: none;
    transition: all 150ms linear 0s;
    font-size: 15px;
    text-transform: uppercase;
    font-weight: 600;
}

/* --------------------------------- End Text Head - p ---------------------------------  */


/* --------------------------------  Style padrão de botões em todo site -------------------------------- */

.btn-braindev {

    border: 0px;
    padding: 15px 40px 15px 40px;
    background-color: rgb(105, 120, 255);
    color: #fff;
}

.btn-braindev :hover{
    color: #fff;
}

.btn-braindev-white {

    border: 0px;
    padding: 15px 40px 15px 40px;
    background-color: rgb(237, 238, 243);
    color: rgb(105, 120, 255);
}

.btn-braindev-white :hover{
    color: #333;
}
.btn-login-header {
    border: 0px;
    padding: 8px 40px 8px 40px;
    background-color: rgb(237, 238, 243);
    color: rgb(105, 120, 255);
}
.btn-login-header-secondary {
    border: 1px solid;
    padding: 8px 40px 8px 40px;
    background-color: none;
    color: #f4f4f4;
}


/* -------------------------------- Final dos styles botões -------------------------------- */

.card-text {
    color: rgb(170, 170, 170);
    text-align: justify;
}

.card-text-depoimentos {
    color: black;
    text-align: justify;
}

.modal-content{
    background-color: rgb(36,36,41);
}

.modal-lista {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
    margin-top: 80px;
    list-style: none;
    grid-column-gap: 46px;
    grid-row-gap: 56px;
    color: #fff;
}

.planos {
    margin-bottom: 120px;
    margin-top: 120px;
}



/* ------------------------------- Icons colors and Size ------------------------------- */

.fa-green {
    color: rgb(4, 211, 97)!important;
    font-size: 25px;
}

.fa-white {
    color: rgb(255, 255, 255)!important;
    font-size: 25px;
}

.fa-black {
    color: rgb(0, 0, 0)!important;
    font-size: 25px;
}

.fa-purple {
    color: rgb(105, 120, 255)!important;
    font-size: 25px;
}

.fa-red {
    color: rgb(221, 31, 63)!important;
    font-size: 25px;
}

.fa-grey {
    color: rgb(111, 115, 124)!important;
    font-size: 25px;
}

.fa-grey :hover {
    color: rgb(255, 255, 255)!important;
    font-size: 25px;
}

/* ------------------------------- End Icons colors --------------------------- */

li {
    padding-bottom: 6px;
}

.close {
    color: #f7f7f7;
}

.close :hover{
    color: #fff;
}

.navbar {
    padding-left: 55px;
    z-index: 1;
}

.navbar-2 {
    padding-left: 55px;
    z-index: 1;
    background-color: rgb(27, 27, 27);
    position: sticky;
    width: 100%;
}

.focus {
    color: rgb(4, 211, 97)!important;
}

.carousel-inner {
    margin-top: -180px!important;
    padding: 0;
}

.carousel {
    background-color: #fff!important;
    height: 1100px;
    display: grid;
    align-items: center;
}

/* Text navbar */

.t-navbar a {
    font-size: 15px;
}




  /* Background colors */

  .braindev-bg-purple {
      background-color: rgb(105, 120, 255)!important;
  }
  .braindev-bg-purple-dark {
    background-color: rgb(86, 100, 221)!important;
}
.braindev-bg-purple-dark-2 {
    background-color: rgb(11, 12, 27)!important;
}
  .braindev-bg-dark {
    background-color: rgb(23, 23, 26)!important;
}
.braindev-bg-white {
    background-color: #f2f2f2!important;
}
.braindev-bg-card-dark {
    background: rgb(31, 31, 36);
}

  /* Header section home  ///////HOME///////  */

  .header-section {
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-gap: 10px;
      align-items: center;
  }

  .header-slider {
    height: 460px;
    align-items: center;
  }

  /* Section servicos home */
  .servicos-section-home {
      /* background: rgb(205, 209, 252); */
      height: 760px;
    align-items: center;
  }
  .servicos-section {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 10px;
    align-items: center;
  }
  .card-servicos {
    border-radius: 14px;
    background: rgb(31, 31, 36);
    padding: 15px;
    margin-bottom: 15px;
  }

  .card-depoimentos {
    border-radius: 14px;
    background: rgb(235, 235, 235);
    padding: 15px;
    margin-bottom: 15px;
  }

  .depoimentos {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 10px;
}

  .nossos-servicos {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      grid-gap: 10px;
  }

  /* CSS GRID */

  .bd-grid-2 {
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-gap: 10px;
  }
    .bd-grid-3 {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-gap: 10px;
    }
    .bd-grid-4 {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-gap: 10px;
    }

    .painel-grid-dashboard {
        display: grid;
        grid-template-columns: 1fr 3fr;
        grid-gap: 10px;
    }

/* FORMULÁRIO */

.form-control {
    display: block;
    width: 100%;
    height: calc(1.6em + 0.75rem + 2px);
    padding: 25px;
    font-size: 0.9rem;
    font-weight: 400;
    line-height: 1.6;
    color: #474749;
    background-clip: padding-box;
    border: 0;
    border-radius: 6px;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    background: #232328;
}

.braindev-login {
    height: 80vh;
    display: grid;
    align-items: center!important;
}


/* Custom login page */

.login-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    height: 100vh;
    align-items: center;
}
.form-login {
    background: rgb(31, 31, 36);
    height: 360px;
    border-radius: 10px;
    max-width: 350px;
}
.logo-login {
    text-align: center;
    display: block;
}




  @media only screen and (max-width: 768px) {
    /* For mobile phones: */
    .check {
      width: 100%;
    }

    .header-section {
        display: grid;
        grid-template-columns: 1fr;
        grid-gap: 10px;
        align-items: center;
        max-width: 90%;
    }

    .header-slider {
      height: 770px;
      align-items: center;
    }
    /* Section servicos home */
    .servicos-section-home {
        /* background: rgb(205, 209, 252); */
        height: 1760px;
        align-items: center;
    }
    .servicos-section {
        display: grid;
        grid-template-columns: 1fr;
        grid-gap: 10px;
        align-items: center;
        max-width: 90%;
    }
    .card-servicos {
        border-radius: 14px;
        background: rgb(31, 31, 36);
        padding: 15px;
        margin-bottom: 15px;
    }
    .nossos-servicos {
        display: grid;
        grid-template-columns: 1fr;
        grid-gap: 10px;
    }

    /* CSS GRID */

    .bd-grid-2 {
        display: grid;
        grid-template-columns: 1fr;
        grid-gap: 10px;
    }
    .bd-grid-3 {
        display: grid;
        grid-template-columns: 1fr;
        grid-gap: 10px;
    }

    /* Custom login page */

    .login-grid {
        display: grid;
        grid-template-columns: 1fr;
        height: 100vh;
        align-items: center;
    }

    .footer-braindev {
        margin-top: 40px;
        margin-bottom: 40px;
        display: grid;
        grid-template-columns: 1fr;
        grid-gap: 40px;
    }

    .depoimentos {
        display: grid;
        grid-template-columns: 1fr;
        grid-gap: 10px;
    }

    .painel-grid-dashboard {
        display: grid;
        grid-template-columns: 1fr;
        grid-gap: 10px;
    }


  }


